

<div id="addProjectsModal" class="modal">
    <div class="modal-content">
        <header class="modal-header">
            <h3>Add Project</h3>
            <button data-close="true" type="button" class="btn-close" data-target="#addProjectModal"></button>
        </header>

        <main class="modal-body">



        </main>
    </div>
</div>
