





<div id="account-container">

    <button type="button" data-type="dropdown" data-target="#account-dropdown" class="btn-account">
        <img src="/images/portal_images/Profile_images/profile_img_1.svg" alt="template avatar">
    </button>

    <div id="account-dropdown" class="dropdown">

        <div class="dropdown-header">
            <div class="account-name">
                <img src="/images/portal_images/Profile_images/profile_img_2.svg" alt="template avatar">

                @if (User.Identity?.IsAuthenticated == true)
                {
                    <span>@User.Identity.Name</span>
                }

            </div>
        </div>

        <div class="dropdown-body">

            <nav class="dropdown-options">
                <div class="dropdown-option">
                    <label for="darkModeToggle" class="switch-label">
                        <i class="fa-duotone fa-solid fa-cog"></i>
                        <span>Dark Mode</span>
                    </label>
                    <label class="switch">
                        <input type="checkbox" id="darkModeToggle" data-type="toggle" data-func="darkmode">
                        <span class="slider"></span>
                    </label>
                </div>
            </nav>

            <div class="divider"></div>

            <nav class="dropdown-actions">
                <a class="dropdown-action" href="/auth/logout">
                    <i class="fa-duotone fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </nav>

        </div>
    </div>
</div>