
<nav class="nav-links">
    <a class="nav-link @(Context.Request.Path == "/projects" ? "active": "")" asp-action="Index" asp-controller="Projects">
        <i class="bi bi-briefcase-fill"></i>
        <span>Projects</span>
    </a>
</nav>



@* Make sure this links to the projects. *@