<header class="portal-header">

    <div class="account">
        <i class="bi bi-gear-fill"></i>
        <img src="/images/portal_images/Profile_images/profile_img_1.svg" alt="Image of the logged in user." />
    </div>

</header>



@* Need to insert the image of the currently logged in user in the image tag.
    Need to also fix the styling to make them hang to the right.


*@