<header class="portal-header" id="header">

    @* Will need to hook this up to a controller *@

    <form class="search-form" method="get" asp-controller="" asp-action="" novalidate>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" class="form-search-input" placeholder="Search anything..." />
    </form>

@* 
    @await Html.PartialAsync("Dropdowns/_NotificationDropdownPartial")
*@

    @await Html.PartialAsync("Partials/Components/_AccountDropdown") 

</header>