<header class="portal-header">

    <div class="account">
        <button>
            <i class="bi bi-gear-fill"></i>
        </button>
        <img src="/images/portal_images/Profile_images/profile_img_1.svg" alt="Image of the logged in user." />
    </div>

</header>



@* Need to insert the image of the currently logged in user in the image tag. *@