
<a href="@Url.Content("~/")" class="portal-logotype">
    <img src="~/images/portal_images/Alpha icon Lightmode.svg" alt="Alpha Portal image">
    @* <span>Alpha</span> *@
</a>

@* Figure out the span *@